@model FoodOrdering.Presentation.ViewModels.AddDishViewModel

<h1>Add Dish</h1>

<form asp-controller="Dish" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
    </div>
    <div class="form-group">
        <label asp-for="Ingredients"></label>
        <input class="form-control" asp-for="Ingredients"/>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Name"/>
    </div>
    <div class="form-group">
        <label asp-for="DishImage"></label>
        <input class="form-control" asp-for="DishImage"/>
    </div>
    <div class="form-group">
        <label asp-for="Proteins"></label>
        <input class="form-control" asp-for="Proteins"/>
    </div>
    <div class="form-group">
        <label asp-for="Fats"></label>
        <input class="form-control" asp-for="Fats"/>
    </div>
    <div class="form-group">
        <label asp-for="Carbohydrates"></label>
        <input class="form-control" asp-for="Carbohydrates"/>
    </div>
    <div class="form-group">
        <label asp-for="Calories"></label>
        <input class="form-control" asp-for="Calories"/>
    </div>
    <div class="form-group">
        <label asp-for="Weight"></label>
        <input class="form-control" asp-for="Weight"/>
    </div>


    <input type="submit" value="Add Dish" />

</form>